{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Questioner - Личный кабинет</title>
    <link rel="stylesheet" href="{% static "css/po_style.css"%}">
  </head>
  <body>
    <header>
      <div class="project_name">Questioner</div>
    </header>
    <div class="po_container">
      <div class="container_header">header</div>
      <div class="container_body">
        <div class="left_panel">left</div>
        <div class="center_panel">center</div>
        <div class="right_panel">right</div>
      </div>
      <div class="container_footer">footer</div>
    </div>
  </body>
</html>
